In [52]:
import pandas as pd
from pandas import DataFrame, concat

from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import auc


from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [53]:
# load data
df = pd.read_csv("processed_data/drive4.csv", index_col=0)

In [54]:
df.head()

,x1,x2,y1,y2,object_type_Car,object_type_Van,static_dynamic_moving,static_dynamic_static,lat,lon,...,wu,pos_accuracy,vel_accuracy,navstat,numsats,posmode,velmode,orimode,Break,frame
0,181.47,201.45,425.60,464.04,1.0,0.0,0.0,1.0,48.959218,8.405842,...,-0.000932,0.073593,0.013454,4.0,10.0,5.0,5.0,6.0,False,0
1,181.47,201.45,425.63,464.06,1.0,0.0,0.0,1.0,48.959218,8.405842,...,-0.000328,0.073593,0.013454,4.0,10.0,5.0,5.0,6.0,False,1
2,181.47,201.45,425.65,464.09,1.0,0.0,0.0,1.0,48.959218,8.405842,...,-0.000487,0.073593,0.013454,4.0,10.0,5.0,5.0,6.0,True,2
3,181.47,201.45,425.68,464.12,1.0,0.0,0.0,1.0,48.959218,8.405842,...,0.001067,0.073593,0.013454,4.0,10.0,5.0,5.0,6.0,False,3
4,181.47,201.45,425.71,464.14,1.0,0.0,0.0,1.0,48.959218,8.405842,...,-0.000645,0.073593,0.013454,4.0,10.0,5.0,5.0,6.0,False,4

In [55]:
df.columns

Index(['x1', 'x2', 'y1', 'y2', 'object_type_Car', 'object_type_Van',
       'static_dynamic_moving', 'static_dynamic_static', 'lat', 'lon', 'alt',
       'roll', 'pitch', 'yaw', 'vn', 've', 'vf', 'vl', 'vu', 'ax', 'ay', 'az',
       'af', 'al', 'au', 'wx', 'wy', 'wz', 'wf', 'wl', 'wu', 'pos_accuracy',
       'vel_accuracy', 'navstat', 'numsats', 'posmode', 'velmode', 'orimode',
       'Break', 'frame'],
      dtype='object')

In [56]:
y = df['Break'].values
del df['Break']
del df['frame']
del df['af']

In [57]:
scaler = StandardScaler()
features_norm = scaler.fit_transform(df)

trainX, testX, trainy, testy = train_test_split(features_norm, y, test_size=0.2, random_state=1)

In [58]:
model_svc = SVC()
print(cross_val_score(model_svc,trainX,trainy,cv=10).mean())

0.628694581281

In [59]:
model_nb = GaussianNB()
print(cross_val_score(model_nb,trainX,trainy,cv=10).mean())

0.566009852217

In [61]:
model_dt = DecisionTreeClassifier(max_depth=3, random_state=1)
print(cross_val_score(model_dt,df,y,cv=10).mean())

0.749536679537